certifi==2021.10.8
charset-normalizer==2.0.12
debtcollector==2.5.0
dnspython==1.16.0
eventlet==0.30.2
greenlet==1.1.2
idna==3.3
msgpack==1.0.3
netaddr==0.8.0
oslo.config==8.8.0
oslo.i18n==5.1.0
ovs==2.16.0
pbr==5.8.1
PyYAML==6.0
repoze.lru==0.7
requests==2.27.1
rfc3986==2.0.0
Routes==2.5.1
ryu==4.34
six==1.16.0
sortedcontainers==2.4.0
stevedore==3.5.0
tinyrpc==1.1.4
urllib3==1.26.9
WebOb==1.8.7
wrapt==1.14.0
